/* styles.css */
body {
    background-color: yellow;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Reduced the height to make room for the footer */
}

.black-box {
    background-color: black;
    width: 100%;
    height: 60vh; /* Reduced the height to make room for the footer */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    margin-top: -50px; /* Moved the black box up by 50px */
}

.typewriter {
    font-size: 24px;
    font-weight: bold;
    overflow: hidden; /* Ensures the content is not visible until the animation starts */
    white-space: pre-wrap; /* Preserves line breaks */
    margin: 0 auto; /* Centers the content */
    letter-spacing: .05em; /* Adds space between characters */
    width: 90%; /* Leaves a small margin */
    font-family: 'Calibri', sans-serif;
}

#typewriter-text {
    animation: typing 10s steps(40, end);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
}